.navbar .image {
	width: 215px;
}
.navbar .links a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
.YellowBtn {
	background-color: var(--yellow_btn);
	color: var(--primary);
	font-weight: 700;
}
.links {
	@apply md:right-0 transition-all duration-1000 md:duration-0 md:flex-row flex flex-col items-center pt-20 md:pt-0 rounded-lg border-[#00000074] gap-8 text-lg absolute  md:relative h-[100vh] w-[70%] md:w-fit md:h-auto  md:bg-transparent z-40 top-[0] md:top-0 border md:border-0 bg-slate-700 ;
}